<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label floating>Correo electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="Password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  
    <button ion-button color="light" (click)="register(user)">Register </button>
</ion-content>
