<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
        Filtro
      </ion-card-header>
      <ion-card-content>
                <ion-select placeholder="Ciudad" (ionChange)="onSelect($event)">
                    <ion-option *ngFor = "let ciudad of ciudades" [value]="ciudad">
                      {{ciudad}}
                    </ion-option>
                </ion-select>
                <ul>
                    <li *ngFor="let contacto of contactos | async">
                      {{contacto.nombre}}
                    </li>
                  </ul> 
                
      </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
        Nuevo registro
      </ion-card-header>
      <ion-card-content>
          <ul>
              <li *ngFor="let item of items | async">
                <input type="text" #updatetext [value]="item.nombre" />
                <button (click)="updateItem(item.key, updatetext.value)">Update</button>
                <button (click)="deleteItem(item.key)">Delete</button>
              </li>
            </ul> 
            <input type="text" #newitem />
            <button (click)="addItem(newitem.value)">Add</button>
            <button (click)="deleteEverything()">Delete All</button>
      </ion-card-content>
  </ion-card>
</ion-content>

